.productBlock {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-areas:
    "title title"
    "image content"
    "image price"
    "image price";
  margin-left: 400px;
  margin-right: 40px;

  .productTitle {
    grid-area: title;
    width: 100%;
    padding: 100px 0 0 0;
  }
  .productPriceBlock {
    grid-area: price;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    input[type="submit"] {
      border-radius: 3px;
      width: 137px;
      height: 40px;
      border: 0;
      margin-top: 40px;
      cursor: pointer;
    }
    .productPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .productImage {
    grid-area: image;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .productContentBlock {
    grid-area: content;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    line-height: 26px;
    .productContent {
      margin-right: 40px;
      width: 450px;
    }
    .categoryTags {
      border-radius: 17px;
      padding: 5px;
      width: 100px;
    }
  }
}
@media (min-width: 993px) and (max-width: 1300px) {
  .productBlock {
    grid-template-areas:
      "title title"
      "image image"
      "price price"
      "content content";
    .productTitle {
      h1 {
        padding: 0 0 50px 0;
      }
    }
    .productContentBlock,
    .productPriceBlock {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}
@media (max-width: 992px) {
  main {
    padding: 0 25px;
    .productBlock {
      display: grid;
      width: 100%;
      grid-template-areas:
        "title"
        "image"
        "price"
        "content";
      grid-template-columns: 100% 1fr;
      margin-left: 0;
      margin-right: 0;
      .productTitle {
        h1 {
          padding: 0 0 50px 0;
        }
      }
      .productImage {
        margin-bottom: 25px;
      }
      .productPriceBlock {
        margin-left: 0px;
        margin-bottom: 25px;
      }
      .productContentBlock {
        margin-left: 0px;
        flex-direction: column;
        .productContent {
          margin-right: 0;
          margin-bottom: 25px;
          width: auto;
        }
      }
    }
  }
}
