@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "variables.scss";

.titleProductManagement,
.theadTitle,
.contentTable,
.contentTag,
.contentPrice,
.spanPrice,
.titleHeader,
.primaryTitleProduct,
.titleCategory,
.contentProduct {
  font-family: $roboto;
}

.titleProductManagement,
.primaryTitleProduct {
  font-size: 36px;
  font-weight: bold;
}

.titleHeader,
.theadTitle,
.contentTable,
.spanPrice {
  font-size: 16px;
  font-weight: bold;
}

.contentTag,
.contentPrice,
.contentProduct,
.spanTVA {
  font-size: 16px;
  font-weight: 400;
}
.titleCategory {
  font-size: 24px;
  font-weight: bold;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
.left {
  text-align: left;
}
