// Listes des variables couleurs

$primary: #564aff;
$secondary: #ffa846;
$success: #32b436;
$white: #ffffff;
$offWhite: #fbfbfb;
$lightgray: #0000001a;
$darkgray: #707070;

// Polices utilisées

$roboto: "Roboto", sans-serif;
