main {
  margin: 0 50px 0 400px;
  padding-bottom: 50px;
  h1 {
    padding: 68px;
  }

  .fake-table {
    display: table;
    width: 100%;
    .tr {
      display: table-row;
      border-radius: 3px;
    }
    .th,
    .td {
      display: table-cell;
      padding: 20px;
      .categoryTags {
        border-radius: 17px;
        padding: 5px;
      }
    }

    @media (max-width: 769px) {
      display: block;
      margin: 10px 0;
      .tr {
        display: block;
        margin-bottom: 10px;
      }
      .thead {
        display: none;
      }
      .td {
        font-size: 11px;
        display: block;
        padding: 0;
        border-bottom: 1px solid #ededeb;
        &::before {
          font-weight: bold;
          display: inline-block;
          width: 50%;
          margin-right: 10px;
          padding: 10px;
          content: attr(data-head);
          border-right: 1px solid #ededed;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  main {
    margin: 0 25px;
  }
}
