@import "../../assets/libraryCss/variables.scss";

.homePage {
  margin: 0 50px 0 400px;
  padding-bottom: 50px;
  height: 100vh;
  h1 {
    padding: 68px;
  }

  .tableProduct {
    display: table;
    width: 100%;
    .tr {
      display: table-row;
      border-radius: 3px;
    }
    .th,
    .td {
      display: table-cell;
      padding: 20px;
      a {
        color: $darkgray;
        text-decoration: none;
      }
      .categoryTags {
        border-radius: 17px;
        padding: 5px;
      }
    }

    @media (max-width: 992px) {
      display: block;
      margin: 10px 0;
      .tr {
        display: block;
        margin-bottom: 10px;
      }
      .thead {
        display: none;
      }
      .td {
        font-size: 11px;
        display: block;
        padding: 0;
        padding-right: 25px;
        border-bottom: 1px solid $lightgray;
        text-align: right;
        .categoryTags {
          width: 150px;
        }
        &::before {
          display: inline-block;
          width: 50%;
          margin-right: 10px;
          padding: 10px;
          content: attr(data-head);
          border-right: 1px solid $lightgray;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .homePage {
    margin: 0 25px;
    h1 {
      padding: 100px 25px 50px 25px;
    }
    .tableProduct {
      .categoryBlock {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
